{% load static %}
{% block main %}
<!DOCTYPE html>
<head>
    <!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Reservas</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <h1>Reservas para finecap 2023</h1>
    </header>
    <footer>
        <p>&copy; Finecap,2023 Página de Reservas</p>
    </footer>
</body>
</html>
{% endblock main %}
</body>
</html>
